body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.hidden {
    display: none;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Progreso */
#progress-container {
    margin: 20px 0;
}

#progress-bar {
    width: 100%;
    height: 20px;
    background: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

#progress-bar-filled {
    height: 100%;
    background: #4caf50;
    width: 0%;
    transition: width 0.3s;
}

#user-info {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

#user-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}
